name: CI Pipeline

on:
  push:
    branches:
      - main

concurrency:
  group: "build-${{ github.ref }}"
  cancel-in-progress: true
  
jobs:
  test:
    steps:
      - name: 23f2005661@ds.study.iitm.ac.in
        run: echo "Hello, world!"
